@font-face {
  font-family: "Montserrat";
  src: url(fonts/montserrat/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(fonts/montserrat/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(fonts/montserrat/Montserrat-Light.woff2) format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Allura";
  src: url(fonts/allura/Allura-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0 auto;
  padding: auto;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Allura";
  overflow-x: hidden;
}

.header {
  width: 1440px;
  background-color: #FFFFFF;
}
.header__hamburger {
  display: flex;
  position: absolute;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 40px;
  height: 40px;
  visibility: hidden;
}
.header__burger {
  height: 1px;
  width: 20px;
  transform: scale(0);
  background-color: #181C29;
}
.header__hamburger::before, .header__hamburger::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 20px;
  background-color: #181C29;
  transition: all 0.3s ease 0s;
  top: 15px;
  left: 10px;
}
.header__hamburger::after {
  top: 22px;
}
.header__hamburger_active::before {
  top: 21px;
  left: 10px;
  transform: rotate(45deg) translate(0, 49%);
}
.header__hamburger_active::after {
  top: 21px;
  transform: rotate(-45deg) translate(0, -50%);
  height: 1px;
}
.header__wrapper {
  max-width: 1440px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content {
  width: 1276px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: inline-block;
  width: 141px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 1px 0px 0px 1px;
}
.header__logo_image {
  width: 24px;
  height: 24px;
  margin: 0px 0px 2px 0px;
}
.header__logo_text {
  width: 69px;
  height: 16px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 5%;
  text-transform: uppercase;
  margin: 0px 2px 2px 0px;
  letter-spacing: 0.55px;
}
.header__link {
  width: 376px;
  height: 40px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 5%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  gap: 18px;
  margin-bottom: 2px;
  margin: 0px 1px 0px 0px;
}
.header__link_items {
  height: 40px;
  text-decoration: none;
  display: inline-block;
  color: #181C29;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.65px;
  margin-bottom: 0px 0px 0px 0px;
}
.header__link_items:nth-child(1) {
  width: 78px;
  margin-left: 6px;
}
.header__link_items:nth-child(2) {
  width: 88px;
  margin-right: 0px;
}
.header__link_items:nth-child(3) {
  width: 74px;
  margin-right: 1px;
}
.header__link_items:nth-child(4) {
  width: 112px;
  margin-right: 5px;
}
.header__link_items:hover {
  background-color: rgba(255, 70, 70, 0.1019607843);
  color: #FF4646;
}

.hero {
  overflow: hidden;
  position: relative;
  width: 1440px;
  height: 524px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF4646;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.hero__ball {
  width: 1440px;
  height: 603px;
  position: absolute;
  transform: translateY(-1px);
}
.hero__snow {
  position: absolute;
  z-index: 0;
}
.hero__container {
  width: 426px;
  height: 404px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: 6px;
}
.hero__caption {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  margin-top: 57px;
}
.hero__header1 {
  width: 426px;
  height: 144px;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 12px;
  letter-spacing: 5.6px;
  line-height: 48px;
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
}
.hero__bottom {
  transform: translateY(-63px);
}
.hero__button {
  cursor: pointer;
  margin-top: 12px;
  letter-spacing: 0.6px;
  border: none;
  border-radius: 20px;
  background-color: #181C29;
  width: 235px;
  height: 56px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.hero__button:hover {
  color: #181C29;
  background-color: #FFFFFF;
  transform: scale(1.01);
}

.about {
  width: 1440px;
  height: 648px;
  background-color: #FF4646;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__content {
  width: 1276px;
  height: 528px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  z-index: 1;
}
.about__container {
  width: 638px;
  height: 528px;
}
.about__container--small-text {
  width: 426px;
  height: 328px;
  margin: 100px 0px 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.about__caption {
  height: 24px;
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  color: #FF4646;
  margin: 49px 0px 0px 0px;
  size: 24px;
  line-height: 24px;
  letter-spacing: 1.2px;
}
.about__header2 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  height: 72px;
  margin: 0px 0px 0px 0px;
  size: 24px;
  line-height: 36.48px;
  letter-spacing: 3.8px;
}
.about__paragraph {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  height: 72px;
  size: 16px;
  line-height: 23.68px;
  letter-spacing: 0.09px;
  margin: 0px 0px 50px 0px;
}
.about__img_container {
  width: 638px;
  height: 528px;
}
.about__santa_img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.slider {
  background-color: #FF4646;
  width: 1440px;
  height: 488px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.slider__container {
  width: 1276px;
  height: 368px;
  z-index: 1;
}
.slider__text_content {
  width: 426px;
  height: 72px;
  text-align: center;
}
.slider__caption {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  color: #FFFFFF;
  line-height: 24px;
  letter-spacing: 1.1px;
  size: 24px;
  line-height: 24px;
}
.slider__header2 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  size: 24px;
  line-height: 36.48px;
  letter-spacing: 3.9px;
  margin: 11px 0px 0px 2px;
}
.slider__main {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  margin-top: 20px;
  gap: 20px;
}
.slider__slide_text {
  font-family: "Montserrat";
  font-size: 80px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 97.52px;
  size: 80px;
  letter-spacing: 0.1px;
}
.slider__img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.slider__buttons {
  margin-top: 20px;
  width: 1276px;
  height: 56px;
  padding-left: 1124px;
}
.slider__arrow-button {
  width: 56px;
  height: 56px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background-color: #FF4646;
  color: #FFFFFF;
  margin-left: 18px;
  font-size: 17px;
  font-weight: 100;
  cursor: pointer;
}
.slider__arrow-button:hover {
  color: #FF4646;
  background-color: #FFFFFF;
}

.gifts {
  width: 1440px;
  height: 554px;
  background-color: #FF4646;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gifts__container {
  width: 1276px;
  height: 434px;
  z-index: 1;
}
.gifts__text-container {
  width: 426px;
  height: 72px;
  text-align: center;
}
.gifts__caption {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  size: 24px;
  line-height: 24px;
  letter-spacing: 1.2px;
  color: #FFFFFF;
}
.gifts__header2 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 36.48px;
  size: 24px;
  letter-spacing: 3.85px;
  color: #FFFFFF;
  margin: 13px 0px 0px 4px;
}
.gifts__card_container {
  width: 1276px;
  height: 342px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px 0px 0px;
  gap: 12px;
}
.gifts__card {
  width: 310px;
  height: 342px;
  border-radius: 20px;
  background-color: #ECF3F8;
  cursor: pointer;
}
.gifts__card:hover {
  transform: scale(1.01);
}
.gifts__card_img {
  width: 310px;
  height: 230px;
  background-color: #ECF3F8;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.gifts__card_text {
  height: 70px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-top: -4px;
  padding: 20px 0px 20px 20px;
}
.gifts__header4 {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  size: 12px;
  line-height: 15.6px;
  letter-spacing: 0.5px;
}
.gifts__header3:hover {
  color: #FF4646;
}
.gifts__header3 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  size: 16px;
  line-height: 24.32px;
  letter-spacing: 1.4px;
  color: #181C29;
  margin-top: 9px;
}
.gifts__header4--color1 {
  color: #4361FF;
}
.gifts__header4--color2 {
  color: #06A44F;
}
.gifts__header4--color3 {
  color: #4361FF;
}
.gifts__header4--color4 {
  color: #FF43F7;
}
.gifts__modal_work {
  width: 400px;
  height: 514px;
  position: absolute;
  z-index: 2;
  background-color: #ECF3F8;
  border-radius: 20px;
}
.gifts__front_img_modal {
  width: 310px;
  height: 230px;
  background-color: #ECF3F8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: 45px;
}
.gifts__text_modal {
  width: 360px;
  height: 104px;
  margin-top: 20px;
}
.gifts__header4_modal {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  size: 12px;
  line-height: 15.6px;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.gifts__header3_modal {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  size: 16px;
  line-height: 24.32px;
  letter-spacing: 2px;
  margin-top: 8px;
}
.gifts__paragraph_modal {
  font-weight: 400;
  size: 16px;
  line-height: 23.68px;
  letter-spacing: 0.1px;
  margin-top: 8px;
}
.gifts__information_modal {
  width: 360px;
  height: 120px;
  margin-top: 20px;
}
.gifts__subhead4_modal {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  size: 12px;
  line-height: 15.6px;
  letter-spacing: 1px;
}
.gifts__table_modal {
  width: 360px;
  height: 96px;
  display: flex;
  flex-direction: column;
}
.gifts__table_info {
  width: 360px;
  height: 120px;
  size: 16px;
  line-height: 23.68px;
  letter-spacing: 0.1px;
  display: flex;
  align-items: center;
}
.gifts__snowflakes_img {
  width: 112px;
  height: 16px;
  margin: 0;
}
.gifts__value {
  margin-right: 10px;
}
.gifts__text_wrapper {
  width: 400px;
  height: 283px;
  margin-top: -4px;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.gifts__close_modal {
  width: 40px;
  height: 40px;
  position: absolute;
  font-size: 50px;
  right: 10px;
  top: 0px;
  color: #181C29;
  text-align: center;
  cursor: pointer;
}
.gifts__close_modal:hover {
  transform: scale(1.05);
}
.gifts__modal1_hidden {
  visibility: hidden;
}
.gifts__modal2_hidden {
  visibility: hidden;
}
.gifts__modal3_hidden {
  visibility: hidden;
}
.gifts__modal4_hidden {
  visibility: hidden;
}

.cta {
  width: 1440px;
  height: 668px;
  background-color: #FF4646;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.cta__background {
  width: 1440px;
  height: 668px;
  position: absolute;
}
.cta__container {
  width: 1276px;
  height: 548px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta__sub_container {
  width: 426px;
  height: 428px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.cta__header2 {
  width: 426px;
  height: 108px;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 36.48px;
  size: 24px;
  letter-spacing: 3.8px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 60px;
}
.cta__button {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #181C29;
  width: 235px;
  height: 56px;
  text-align: center;
  color: #FFFFFF;
  color: #FFFFFF;
  size: 12px;
  line-height: 15.6px;
  text-align: center;
  letter-spacing: 0.6px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 5%;
  text-transform: uppercase;
  margin-top: 20px;
}
.cta__button:hover {
  color: #181C29;
  background-color: #FFFFFF;
  transform: scale(1.01);
}
.cta__sub_conteiner2 {
  width: 426px;
  height: 104px;
  margin-top: 20px;
}
.cta__caption {
  width: 426px;
  height: 24px;
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  size: 24px;
  line-height: 24px;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  margin-left: 65px;
}
.cta__timer {
  width: 344px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 8px;
  background-color: rgba(255, 255, 255, 0.4);
}
.cta__timer--separator {
  width: 80px;
  height: 52px;
  margin: 0px 0px 2px 0px;
  height: 20px;
}
.cta__timer_head {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  size: 24px;
  line-height: 36.48px;
  text-align: center;
  letter-spacing: 4px;
  color: #FFFFFF;
  margin-left: 6px;
  margin-top: -15px;
  font-weight: 600;
  transform: scale(0.99);
}
.cta__timer_subhead {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  size: 12px;
  line-height: 15.6px;
  text-align: center;
  letter-spacing: 0.7px;
  color: #FFFFFF;
  font-weight: 600;
  margin: -1px 0px 0px 3px;
}
.cta__timer--separator:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.cta__timer--separator:nth-child(3) {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.footer {
  width: 1440px;
  height: 496px;
  color: #181C29;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}
.footer__container {
  width: 1276px;
  height: 376px;
}
.footer__container_cards {
  width: 1276px;
  height: 204px;
  display: flex;
  gap: 12px;
}
.footer__cards_content {
  width: 417.33px;
  height: 204px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #ECF3F8;
  cursor: pointer;
}
.footer a {
  text-decoration: none;
  color: #181C29;
}
.footer__cards_content:hover {
  transform: scale(1.01);
}
.footer__cards_img {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}
.footer__cards_head {
  width: 377.33px;
  height: 36px;
  size: 24px;
  line-height: 24px;
  letter-spacing: 4px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 22px;
  margin-top: 19px;
}
.footer__cards_subhead {
  width: 377.33px;
  height: 24px;
  size: 16px;
  line-height: 24.32px;
  letter-spacing: 1.3px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 6px;
}
.footer__container_contacts {
  width: 1276px;
  height: 112px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__container_contacts_social_media {
  width: 196px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer__container_contacts_social_media_box {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer___container_contacts_social_media_box_img {
  width: 24px;
  height: 24px;
}
.footer__container_contacts_paragraph {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  size: 16px;
  line-height: 23.68px;
  text-align: center;
  letter-spacing: 0.1px;
  width: 301px;
  height: 24px;
}
.footer__container_contacts_caption {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  scroll-padding-inline-start: 24px;
  line-height: 24px;
  letter-spacing: 1.17px;
  text-align: center;
  width: 290px;
  height: 24px;
}

.hero__snow {
  width: 1440px;
}

@media screen and (max-width: 768px) {
  .header {
    width: 768px;
  }
  .header__hamburger {
    visibility: visible;
    position: absolute;
    left: 720px;
    top: 12px;
  }
  .header__hamburger::after {
    height: 2px;
  }
  .header__link {
    width: 768px;
    height: 960px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: -500px;
    transform: translateY(564px);
    background-color: #FFFFFF;
    transition: all 0.5s ease-out 0s;
  }
  .header__link_items {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    size: 24px;
    margin: 0;
  }
  .header__link_hidden {
    visibility: hidden;
  }
  .header__logo {
    margin-left: 6px;
  }
  .hero {
    width: 768px;
    height: 524px;
  }
  .hero__ball {
    width: 1245px;
    height: 524px;
    top: 0;
    overflow-x: hidden;
  }
  .hero__snow {
    width: 100%;
    height: 100%;
  }
  .about {
    width: 768px;
  }
  .about__content {
    width: 752px;
    height: 528px;
  }
  .about__container {
    width: 376px;
    height: 528px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__container--small-text {
    margin: 0px 0px 0px 0px;
    width: 256px;
    height: 436px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .about__caption {
    height: 24px;
    margin: 60px 0px 0px 0px;
  }
  .about__header2 {
    height: 108px;
    margin: 20px 0px 0px 0px;
  }
  .about__paragraph {
    height: 144px;
    margin: 21px 0px 60px 0px;
  }
  .about__img_container {
    width: 376px;
    height: 528px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  .about__santa_img {
    width: 200%;
  }
  .slider {
    width: 768px;
    height: 488px;
  }
  .slider__container {
    width: 752px;
    height: 368px;
  }
  .slider__text_content {
    width: 426px;
    height: 72px;
  }
  .slider__main {
    width: 752px;
    height: 200px;
  }
  .slider__buttons {
    width: 752px;
    height: 56px;
    padding: 0px 0px 0px 600px;
  }
  .gifts {
    width: 768px;
    height: 908px;
  }
  .gifts__container {
    width: 752px;
    height: 788px;
  }
  .gifts__text-container {
    width: 426px;
    height: 72px;
  }
  .gifts__card_container {
    width: 752px;
    height: 696px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gifts__card {
    margin: 0px 0px 0px 0px;
  }
  .cta {
    width: 768px;
    height: 668px;
    position: relative;
    overflow: hidden;
  }
  .cta__background {
    z-index: 0;
  }
  .cta__container {
    width: 752px;
    height: 548px;
  }
  .cta__sub_container {
    width: 426px;
    height: 428px;
  }
  .footer {
    width: 768px;
    height: 928px;
  }
  .footer__container {
    width: 752px;
    height: 808px;
  }
  .footer__container_cards {
    width: 752px;
    height: 636px;
    display: flex;
    flex-direction: column;
  }
  .footer__container_contacts {
    width: 752px;
    height: 112px;
  }
  .footer__cards_content {
    width: 752px;
  }
  .footer__cards_head {
    margin: 19px 0px 0px 190px;
  }
}/*# sourceMappingURL=style.css.map */