
@font-face {
    font-family: "Montserrat";
    src: url(fonts/montserrat/Montserrat-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/montserrat/Montserrat-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url(fonts/montserrat/Montserrat-Light.woff2) format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Allura";
    src: url(fonts/allura/Allura-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

$dark: #181C29;
$primary: #FF4646;
$primary10: #FF46461A;
$staticWhite: #FFFFFF;
$staticWhite40:#FFFFFF66;
$staticWhite20: #FFFFFF33;
$tagPurle:#4361FF;
$tagPink: #FF43F7;
$tagGreen: #06A44F;
$contentBackground: #ECF3F8;
$overlay: #181C29CC;

@mixin header1 {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

@mixin header2 {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

@mixin header3 {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

@mixin header4 {
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

@mixin paragraph {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
}

@mixin actionLarge {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

@mixin actionSmall {
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 5%;
    text-transform: uppercase;
}

@mixin caption {
    font-family: "Allura";
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5%;
}

@mixin sliderText {
    font-family: "Montserrat";
    font-size: 80px;
    font-weight: 600;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin button {
    border: none;
    border-radius: 20px;
    background-color: $dark;
    width: 235px;
    height: 56px;
    text-align: center;
    color: $staticWhite;
    }

* {
    margin: 0 auto;
    padding: auto;
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", "Allura"; 
    overflow-x: hidden; 
}

main {
    background-color: $primary;
    border-radius: 20px;
    width: 1440px;
    overflow: hidden;
}

.header {
    width: 1440px;
      &__hamburger {
        display: flex;
        position: absolute;
        z-index: 50;
        align-items: center;
        justify-content: flex-end;
        width: 40px;
        height: 40px;
        visibility: hidden;  
    }
    &__burger {
        height: 1px;
        width: 20px;
        transform: scale(0);
        background-color: $dark;
    }
    &__hamburger::before, &__hamburger::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 20px;
        background-color: $dark;
        transition: all 0.3s ease 0s;
        top: 16px;
        left: 10px;
    }

    &__hamburger::after {
        top: 24px;  
    }
    &__hamburger_active::before {
        top: 21px;
        left: 10px;
       transform: rotate(45deg) translate(0, 50%);
    }

     &__hamburger_active::after {
       top: 21px;
       transform: rotate(-45deg) translate( 0,-50%);
       height: 1px;
    }
   
    background-color: $staticWhite;
    &__wrapper {
        max-width: 1440px;
        height: 64px;
       @include flex-center();
    }
    &__content {
        width: 1276px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        display: inline-block;
        width: 141px;
        height: 40px;
        cursor: pointer;
        @include flex-center();
        gap: 8px;
        margin: 1px 0px 0px 1px;  
    }
    &__logo_image {
        width: 24px;
        height: 24px;
        margin: 0px 0px 2px 0px;
    }
    &__logo_text {
        width: 69px;
        height: 16px;
        @include actionSmall();
        margin: 0px 2px 2px 0px;
        letter-spacing: 0.55px;
    }
    &__link {
        width: 376px;
        height: 40px;
        @include actionSmall();
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        gap: 18px;
        margin-bottom: 2px;
        margin: 0px 1px 0px 0px;
    }
    &__link_items {
        height: 40px;
        text-decoration: none;
        display: inline-block;
        color: $dark;
        border-radius: 12px;
        @include flex-center();
        letter-spacing: 0.65px;
        margin-bottom: 0px 0px 0px 0px;
    }
    &__link_items:nth-child(1) {
        width: 78px;
        margin-left: 6px; 
    }
    
    &__link_items:nth-child(2) {
        width: 88px;
        margin-right: 0px;
    }
    &__link_items:nth-child(3) {
        width: 74px;
        margin-right: 1px;
    }
    &__link_items:nth-child(4) {
        width: 112px;
        margin-right: 5px;
    }
    &__link_items:hover {
        background-color: $primary10;
        color: $primary;
    }  
}

.hero {
        background-image:  url(images/hero/bg-snow.png);
        background-size: contain;
        position: relative;
        width: 1440px;
        height: 524px;
        @include flex-center();
        background-color: $primary;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    &__ball {
        width: 1440px;
        height: 603px;
        position: absolute;
        transform: translateY(-1px);
        }
    &__snow {
        position: absolute;
        z-index: 0;
    }
    &__container {
        width: 426px;
        height: 404px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        margin-top: 6px;
    }
    &__caption {
        @include caption();
        letter-spacing: 1.2px;
        color: $staticWhite;
        margin-top: 57px;
    }
    &__header1 {
        width: 426px;
        height: 144px;
        @include header1();
        margin-top: 12px;
        letter-spacing: 5.6px;
        line-height: 48px;
        font-size: 32px;
        color: $staticWhite;
        text-align: center;  
    }
    &__bottom {
        transform: translateY(-63px);
    }
    &__button {
        cursor: pointer;
        margin-top: 12px;
        letter-spacing: 0.6px;
        @include button();
        @include actionSmall();
    }
    &__button:hover {
        color: $dark;
        background-color: $staticWhite;
        transform: scale(1.01);
    }
}

.about {
    background-image:  url(images/hero/bg-snow.png);
    background-size: contain;
    width: 1440px;
    height: 648px;
    background-color: $primary;
    @include flex-center();
    &__content {
        width: 1276px;
        height: 528px;
        border-radius: 20px;
        @include flex-center();
        background-color: $staticWhite;
        z-index: 1;
    }
    &__container {
        width: 638px;
        height: 528px;
    }
    &__container--small-text {
        width: 426px;
        height: 328px;
        margin: 100px 0px 0px 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }
    &__caption {
        height: 24px;
        @include caption();
        color: $primary;
        margin: 49px 0px 0px 0px;
        size: 24px;
        line-height: 24px;
        letter-spacing: 1.2px;
    }
    &__header2 {
        @include header2();
        height: 72px;
        margin: 0px 0px 0px 0px;
        size: 24px;
        line-height: 36.48px;
        letter-spacing: 3.8px;

    }
    &__paragraph {
        @include paragraph();
        height: 72px;
        size: 16px;
        line-height: 23.68px;
        letter-spacing: 0.09px;
        margin: 0px 0px 50px 0px;
    }
    &__img_container {
        width: 638px;
        height: 528px;
    }
    &__santa_img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}

@mixin arrow-button {
    width: 56px;
    height: 56px;
    border: 1px solid $staticWhite;
    border-radius: 20px;
    background-color: $primary;
    color: $staticWhite;
}
.slider {
    background-image:  url(images/hero/bg-snow.png);
    background-size: contain;
    background-color: $primary;
    width: 1440px;
    height: 488px;
    @include flex-center();
    &__container {
        width: 1276px;
        height: 368px;
        z-index: 1;
    }
    &__text_content {
        width: 426px;
        height: 72px;
        text-align: center
    }
    &__caption {
        @include caption();
        color: $staticWhite;
        line-height: 24px;
        letter-spacing: 1.1px;
        size: 24px;
        line-height: 24px;
    }
    &__header2 {
        @include header2();
        color: $staticWhite;
        size: 24px;
        line-height: 36.48px;
        letter-spacing: 3.9px;
        margin: 11px 0px 0px 2px;
    }
    &__main {
        @include flex-center();
        justify-content: start;
        margin-top: 20px; 
        gap: 20px;
        transition: all 0.7s ease-out;
    }
    &__slide_text {
        @include sliderText();
        color: $staticWhite;
        line-height: 97.52px;
        size: 80px;
        letter-spacing: 0.1px;
    }
    &__img {
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
    &__buttons {
        margin-top: 20px;
        width: 1276px;
        height: 56px;
        padding-left: 1124px;
    }
    &__arrow-button {
        @include arrow-button();
        margin-left: 18px;
        font-size: 17px;
        font-weight: 100;
        cursor: pointer;
    }
    &__arrow-button:hover {
        color: $primary;
        background-color: $staticWhite;
    }
      &__disabled_button {
        color: $staticWhite40;
        border-color: $staticWhite40;
        pointer-events: none;
    }
    overflow: hidden;
}

.gifts {
    background-image:  url(images/hero/bg-snow.png);
    background-size: contain;
    width: 1440px;
    height: 554px;
    background-color: $primary;
    @include flex-center();
    &__container {
        width: 1276px;
        height: 434px;
        z-index: 1;
        margin-left: 82px;
    }
     &__text-container {
        width: 426px;
        height: 72px;
        text-align: center;
    }
     &__caption {
        @include caption();
        size: 24px;
        line-height: 24px;
        letter-spacing: 1.2px;
        color: $staticWhite;   
    }
     &__header2 {
        @include header2();
        line-height: 36.48px;
        size: 24px;
        letter-spacing: 3.85px;
        color: $staticWhite;
        margin: 13px 0px 0px 4px;
    }
     &__card_container {
        width: 1276px;
        height: 342px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0px 0px 0px;
        gap: 12px;
        
    }
     &__card {
        width: 310px;
        height: 342px;
        border-radius: 20px;
        background-color: $contentBackground;
        cursor: pointer;   
    }
    &__card:hover {
        transform: scale(1.01);
    }
     &__card_img {
        width: 310px;
        height: 230px;
        background-color: $contentBackground;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
     &__card_text {
        height: 70px;
        background-color: $staticWhite;
        border-radius: 20px;
        margin-top: -4px;
        padding: 20px 0px 20px 20px;   
    }
     &__header4 {
        @include header4();
        size: 12px;
        line-height: 15.6px;
        letter-spacing: 0.5px;
    }
    &__header3:hover {
        color: $primary;
    }
     &__header3 {
        @include header3();
        size: 16px;
        line-height: 24.32px;
        letter-spacing: 1.4px;
        color: $dark;
        margin-top: 9px; 
    }
      &__header4--color1 {
        color: $tagPurle;
    }
    &__header4--color2 {
        color: $tagGreen;
    }
      &__header4--color3 {
        color: $tagPurle;
    }
    &__header4--color4 {
        color: $tagPink;
    }
    &__modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
    transition: all 1s;
    }
    &__modal_work {
        width: 400px;
        height: 514px;
        margin: 10% auto;
        z-index: 2;
        background-color: $contentBackground;
        border-radius: 20px;
        transform: rotateY(0deg);
    }
    &__front_img_modal {
        width: 310px;
        height: 230px;
        background-color: $contentBackground;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-left: 45px;
    }
    &__text_modal {
        width: 360px;
        height: 104px;
        margin-top: 20px;
    }
    &__header4_modal {
        @include header4();
        size: 12px;
        line-height: 15.6px;
        letter-spacing: 0.5px;
        font-weight: 600;
    }
    &__header3_modal {
        @include header3();
        size: 16px;
        line-height: 24.32px;
        letter-spacing: 2px;
        margin-top: 8px;
    }
    &__paragraph_modal {
        font-weight: 400;
        size: 16px;
        line-height: 23.68px;
        letter-spacing: 0.1px;
        margin-top: 8px;
    }
    &__information_modal {
        width: 360px;
        height: 120px;
        margin-top: 20px
    }
    &__subhead4_modal {
        @include header4();
        size: 12px;
        line-height: 15.6px;
        letter-spacing: 1px;
    }
    &__table_modal {
        width: 360px;
        height: 96px;
        display: flex;
        flex-direction: column;
    }
    &__table_info {
        width: 360px;
        height: 120px;
        size: 16px;
        line-height: 23.68px;
        letter-spacing: 0.1px;
        display: flex;
        align-items: center;
    }
    &__snowflakes_img {
        width: 112px;
        height: 16px; 
        margin: 0; 
    }
    &__value {
        margin-right: 10px;
    }
    &__text_wrapper {
        width: 400px;
        height: 283px;
        margin-top: -4px;
        background-color: $staticWhite;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }
    &__close_modal {
        width: 40px;
        height: 40px;
        position: absolute;
        font-size: 50px;
        right: 10px;
        top: 0;
        color: $dark;
        text-align: center;
        cursor: pointer; 
    }
    &__close_modal:hover {
        transform: scale(1.05);
    }
    &__modal1_hidden {
        visibility: hidden;
        transform: rotateY(90deg);
    }
    &__modal2_hidden {
        visibility: hidden;
        transform: rotateY(90deg);
    }
    &__modal3_hidden {
        visibility: hidden;
        transform: rotateY(90deg);
    }
    &__modal4_hidden {
        visibility: hidden;
        transform: rotateY(90deg);
    }
}

.cta {
    background-image:  url(images/hero/bg-snow.png);
    background-size: contain;
    width: 1440px;
    height: 668px;
    background-color: $primary;
    @include flex-center();
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    &__background {
        width: 1440px;
        height: 668px;
        position: absolute;
        display: block;
    }
    &__container {
        width: 1276px;
        height: 548px;
        @include flex-center();
    }
    &__sub_container {
        width: 426px;
        height: 428px;
        display: flex;
        flex-direction: column;
        z-index: 2;
    }
    &__header2 {
        width: 426px;
        height: 108px;
        @include header2();
        line-height: 36.48px;
        size: 24px;
        letter-spacing: 3.8px;
        text-align: center;
        color: $staticWhite;
        margin-top: 60px;

    }
    &__button {
        cursor: pointer;
        @include button();
        color: $staticWhite;
        size: 12px;
        line-height: 15.6px;
        text-align: center;
        letter-spacing: 0.6px;
        @include actionSmall();
        margin-top: 20px;
    }
        &__button:hover {
        color: $dark;
        background-color: $staticWhite;
        transform: scale(1.01);
    }
    &__sub_conteiner2 {
        width: 426px;
        height: 104px;
        margin-top: 20px;
    }
    &__caption {
        width: 426px;
        height: 24px;
        @include caption();
        size: 24px;
        line-height: 24px;
        letter-spacing: 1.2px;
        color: $staticWhite;
        margin-left: 65px;
    }
    &__timer {
        width: 344px;
        height: 72px;
        @include flex-center();
        border-radius: 20px;
        margin-top: 8px;
        background-color: $staticWhite40;
    }
    &__timer--separator {
        width: 80px;
        height: 52px;
        margin: 0px 0px 2px 0px;
        height: 20px;

    }
    &__timer_head {
        @include header2();
        size: 24px;
        line-height: 36.48px;
        text-align: center;
        letter-spacing: 4px;
        color: $staticWhite;
        margin-left: 6px;
        margin-top: -15px;
        font-weight: 600;
        transform: scale(0.99)
    }
    &__timer_subhead {
        @include header4();
        size: 12px;
        line-height: 15.6px;
        text-align: center;
        letter-spacing: 0.7px;
        color: $staticWhite;
        font-weight: 600;
        margin: -1px 0px 0px 3px;
    }
    &__timer--separator:nth-child(2) {
        border-left: 1px solid $staticWhite40;
        border-right: 1px solid $staticWhite40;
    }
     &__timer--separator:nth-child(3) {
        border-right: 1px solid $staticWhite40;  
    }
}


.footer {
    width: 1440px;
    height: 496px;
    color: $dark;
    @include flex-center();
    background-color: $staticWhite;
    &__container {
        width: 1276px;
        height: 376px;
    }
    &__container_cards {
        width: 1276px;
        height: 204px;
        display: flex;
        gap: 12px;
    }
    &__cards_content {
        width: 417.33px;
        height: 204px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: $contentBackground;
        cursor: pointer;
    }
    a {
        text-decoration: none;
        color: $dark;
    }
    &__cards_content:hover {
        transform: scale(1.01);
    }
    &__cards_img {
        width: 80px;
        height: 80px;
        margin-top: 20px;
    }
    &__cards_head {
        width: 377.33px;
        height: 36px;
        size: 24px;
        line-height: 24px;
        letter-spacing: 4px;
        text-align: center;
        @include actionLarge();
        margin-left: 22px;
        margin-top: 19px;
        
    }
    &__cards_subhead {
        width: 377.33px;
        height: 24px;
        size: 16px;
        line-height: 24.32px;
        letter-spacing: 1.3px;
        text-align: center;
        @include header3();
        margin-top: 6px;
    }
    &__container_contacts {
        width: 1276px;
        height: 112px;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &__container_contacts_social_media {
        width: 196px;
        height: 40px;
        display: flex;
        align-items: center;
        gap: 12px;
    }
    &__container_contacts_social_media_box {
        width: 40px;
        height: 40px;
        @include flex-center();
    }
    &___container_contacts_social_media_box_img {
        width: 24px;
        height: 24px;
    }
    &__container_contacts_paragraph {
        @include paragraph();
        size: 16px;
        line-height: 23.68px;
        text-align: center;
        letter-spacing: 0.1px;
        width: 301px;
        height: 24px;
    }
    &__container_contacts_caption {
        @include caption();
        scroll-padding-inline-start: 24px;
        line-height: 24px;
        letter-spacing: 1.17px;
        text-align: center;
        width: 290px;
        height: 24px;
    }
}

 @media screen and (max-width: 768px) {

    main {
        width: 768px;
    }

    .header {
        width: 768px;
        &__hamburger {
            visibility: visible;
            position: absolute;
            left: 720px;
            top: 12px;
        }

        &__link {
            width: 768px;
            height: 960px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            align-items: center;
            top: -500px;
            transform: translateY(563px);
            background-color: $staticWhite;
            transition: all 0.5s ease-out 0s;
            &_items {
                @include actionLarge();
                size: 24px;
                margin: 0;  
            }
        }
        &__link_hidden {
            visibility: hidden;
        }
        &__logo {
            margin-left: 6px;
        }
    }

    .hero {
        width: 768px;
        height: 524px;
        &__ball {
          width: 1245px;
          height: 524px;
          top: 0;
          overflow-x: hidden;
        }
        &__snow {
            width: 100%;
            height: 100%;
        }
    }
    .about {
        width: 768px;
        height: 648px;
        &__content {
            width: 752px;
            height: 528px;
        }
        &__container {
            width: 376px;
            height: 528px;
           @include flex-center();
             &--small-text {
                margin: 0px 0px 0px 0px; 
                width: 256px;
                height: 436px;
                 display: flex;
                 flex-direction: column;
                 justify-content: start; 
            }
        }
        &__caption {
            height: 24px;
           margin: 60px 0px 0px 0px;

        }
        &__header2 {
            height: 108px;
           margin: 20px 0px 0px 0px;
        }
        &__paragraph {
            height: 144px;
            margin: 21px 0px 60px 0px;

        }
        &__img_container {
            width: 376px;
            height: 528px;
           overflow: hidden;
           @include flex-center();
           border-radius: 20px;
        }
        &__santa_img {
            width: 200%;
        }
    }
    .slider {
        width: 768px;
        height: 488px;
        &__container {
            width: 752px;
            height: 368px;
        }
        &__text_content {
            width: 426px;
            height: 72px;

        }
        &__main {
            width: 752px;
            height: 200px;

        }
        &__buttons {
            width: 752px;
            height: 56px;
            padding: 0px 0px 0px 600px;
        }
    }

    .gifts {
        width: 768px;
        height: 908px;
        &__container {
            width: 752px;
            height: 788px;
           margin-left: 8px;
        }
        &__text-container {
            width: 426px;
            height: 72px;
        }
        &__card_container {
            width: 752px;
            height: 696px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__card {
            margin: 0px 0px 0px 0px;
        }
             &__modal_work {
            margin: 20% auto;
        }

    }

    .cta {
        width: 768px;
        height: 668px;
        position: relative;
        &__background {
         z-index: 0;
        }
        overflow: hidden;
        &__container {
            width: 752px;
            height: 548px;
        }
        &__sub_container {
            width: 426px;
            height: 428px;

        }
    }

    .footer {
        width: 768px;
        height: 928px;
        &__container {
            width: 752px;
            height: 808px;
            &_cards {
                width: 752px;
                height: 636px;
                display: flex;
                flex-direction: column;

            }
            &_contacts {
                width: 752px;
                height: 112px;

            }
        }
        &__cards_content {
            width: 752px;
        }
        &__cards_head {
            margin: 19px 0px 0px 190px;
        }
    }

}

@media screen and (max-width: 380px) {
     main {
        width: 380px;
    }
    .header {
        width: 380px;
        &__hamburger {
            position: absolute;
            left: 332px;
            top: 11px;
        }
        &__link {
            width: 380px;
            height: 748px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            align-items: center;
            transform: translateY(563px);
            background-color: $staticWhite;
            transition: all 0.5s ease-out 0s;
            &_items {
                @include actionLarge();
                size: 24px;
                margin: 0;  
            }
        }
        &__link_hidden {
            visibility: hidden;
        }
        &__logo {
            margin-left: 6px;
        }
    }

    .hero {
        width: 380px;
        height: 572px;
        &__ball {
          width: 1367px;
          height: 573px;
          top: 0;
          overflow-x: hidden;
        }
        &__snow {
            width: 100%;
            height: 100%;  
        }
        &__container {
            width: 364px;
            height: 452px;
        }
         &__caption {
            width: 364px;
            height: 24px;
            text-align: center;
        }
         &__header1 {
            width: 364px;
            height: 192px;
        }
    }

    .about {
        width: 380px;
        height: 1000px;
        &__content {
            width: 364px;
            height: 880px;
            display: flex;
            flex-direction: column;
        }
        &__container {
            width: 364px;
            height: 352px;
           @include flex-center();
             &--small-text {
                margin: 0px 0px 0px 0px; 
                width: 324px;
                height: 352px;
                display: flex;
                flex-direction: column;
                justify-content: start; 
            }
        }
        &__caption {
            height: 24px;
           margin: 60px 0px 0px 0px;

        }
        &__header2 {
            height: 108px;
           margin: 20px 0px 0px 0px;
        }
        &__paragraph {
            height: 144px;
            margin: 21px 0px 60px 0px;

        }
        &__img_container {
            width: 364px;
            height: 528px;
           overflow: hidden;
           @include flex-center();
           border-radius: 20px;
        }
    }

    .slider {
        width: 380px;
        height: 488px;
        &__container {
            width: 364px;
            height: 368px;
        }
        &__text_content {
            width: 364px;
            height: 72px;
        }
        &__main {
            width: 364px;
            height: 200px;
        }
        &__buttons {
            width: 364px;
            height: 56px;
            padding: 0px 0px 0px 0px;
            text-align: end; 
        }
        &__header2 {
            margin-top: 13px;
            letter-spacing: 3.85px;
            margin-left: 4px;
        }
    }
    .gifts {
        width: 380px;
        height: 1616px;
        &__container {
            width: 364px;
            height: 1496px;
            margin: 0px 8px 2px 8px;
        }
        &__text-container {
            width: 364px;
            height: 72px;
        }
        &__card_container {
            width: 364px;
            height: 1404px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__card {
            margin: 0px 0px 0px 0px;
        }

        &__modal_work {
            width: 364px;
            height: 514px;
            margin: 20% auto;
        }
         &__front_img_modal {
            margin-left: 24px;
            
        }
         &__text_wrapper {
            width: 364px;
            height: 284px;
        }
         &__text_modal {
            width: 324px;
            height: 104px;  
        }
         &__header4_modal {
            width: 76px;
            height: 16px;
            margin-left: 0px; 
        }
         &____header3_modal {
            width: 324px;
            height: 24px;  
        }
         &____paragraph_modal {
            width: 24px;
            height: 48px;  
        }
         &__information_modal {
            width: 324px;
            
        }
        &__subhead4_modal {
            width: 324px;

        }
        &__table_modal {
            width: 324px;
            
        }
        &__table_info {
            width: 324px; 
        }
    }

     .cta {
        width: 380px;
        height: 704px;
        position: relative;
        &__background {
            z-index: 0;
            height: 703px;
            width: 1517px;
            display: block;
        }
        overflow: hidden;
        &__container {
            width: 752px;
            height: 548px;
        }
        &__sub_container {
            width: 364px;
            height: 464px;

        }
        &__header2 {
            width: 364px;
            height: 144px;
        }
        &__sub_conteiner2 {
            width: 364px;
            height: 104px;
        }
        &__caption {
            margin-left: 34px;   
        }
        &__timer_head {
            margin: -17px 0px 0px 3px;
        }
        &__timer_subhead {
            text-align: center;
        }
    }
    .footer {
        width: 380px;
        height: 928px;
        &__container {
            width: 364px;
            height: 808px;
            &_cards {
                width: 364px;
                height: 636px;
                display: flex;
                flex-direction: column;
            }
            &_contacts {
                width: 364px;
                height: 112px;
            }
        }
        &__cards_content {
            width: 364px;
        }
        &__cards_head {
            width: 324px;
            margin: 18px 0px 0px 22px;
        }
        &__cards_subhead {
            width: 324px;
            padding-bottom: 0px;
        }
    }
}